.carousel {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}


.carousel__inner {
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel__img--main {
    max-height: 350px;
    max-width: 500px;
    object-fit: cover;
}

.carousel__button {
    z-index: 100;
    border: none;
    background-color: var(--main-text);
    opacity: 0.8;
    height: 2rem;
    padding: 0.8rem;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.carousel__button--left {
    left: 0;
}

.carousel__button--left::after {
    content: url("./../../assets/chevron_left_white.svg");
    left: 0;
}

.carousel__button--right {
    right: 0;
}

.carousel__button--right::after {
    content: url("./../../assets/chevron_right_white.svg");
    right: 0;
}

.hidden {
    visibility: hidden;
}

.carousel__thumbnails-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.carousel__thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
}